@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

:root {
    /* Colors  */
    /* Primary colors  */
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);

    /* Neutral colors  */
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    --fontNormal: 18px;  /* 18px*/

}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
} 

